# Ignorar pasta virtual do Python
.venv/
venv/
env/

# Ignorar pastas de build do PyInstaller/AutoPyToExe
build/
__pycache__/
*.spec

# Ignorar arquivos de senhas salvas (Segurança Máxima)
dados_seguros.enc
chave.key
config.json

# Ignorar planilhas baixadas
*.xls
*.xlsx